<%- include("./partials/header")%>
    <div class="container">
        <h1><%=data.Title%></h1>
        <h1><%=data.Year%></h1>
        <p><%=data.Plot%></p>


    </div>
    <%- include("./partials/footer")%>