<%- include("./partials/header")%>
  <div class="container mt-2">
    <div class="row my-2">

      <% if(moviesDump.Response==='False' ){%>
        <h1>Movie not found</h1>
        <% }else{%>
          <h1>Results for <%=movieQuery%>
          </h1>
          <% moviesDump['Search'].forEach(function(movie){%>
            <div class="card mx-2 my-2 border-0" style="width: 18rem;">
              <img class="card-img-top" src="<%=movie.Poster%>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <%=movie.Title%>
                </h5>
                <p class="card-text">
                  <%=movie.Year%>
                </p>
                <a href="/result/<%=movie.imdbID%>" class="btn btn-primary">Know More.</a>
              </div>
            </div>
            <%})%>
              <%} %>


    </div>
  </div>
  <%- include("./partials/footer")%>